<footer class="footer" style="width: 100vw; margin-left: calc(-50vw + 50%);">
  <div class="social-links">
    <a href="https://gdmodengine.github.io" target="_blank" aria-label="Website">
      <i class="fas fa-house-user"></i>
    </a>
    <a href="https://gist.github.com/gdmodengine" target="_blank" aria-label="Gists">
      <i class="fas fa-clipboard"></i>
    </a>
    <a href="https://github.com/gdmodengine" target="_blank" aria-label="GitHub">
      <i class="fab fa-github-alt"></i>
    </a>
    <a href="https://discord.gg/6Re3dCKRgV" target="_blank" aria-label="Discord">
      <i class="fab fa-discord"></i>
    </a>
    <a href="https://www.youtube.com/@gdmodengine" target="_blank" aria-label="YouTube">
      <i class="fab fa-youtube"></i>
    </a>
    <a href="https://www.twitch.tv/gdmodengine" target="_blank" aria-label="Twitch">
      <i class="fab fa-twitch"></i>
    </a>
    <a href="https://gdmodengine.itch.io/" target="_blank" aria-label="Itch.io">
      <i class="fab fa-itch-io"></i>
    </a>
    <a href="https://suno.com/@gdmodengine" target="_blank" aria-label="Suno">
      <i class="fas fa-music"></i>
    </a>
    <a href="https://tiktok.com/@gdmodengine" target="_blank" aria-label="Tiktok">
      <i class="fab fa-tiktok"></i>
    </a>
    <a href="https://cash.app/$gdmodengine" target="_blank" aria-label="CashApp">
      <i class="fas fa-dollar-sign"></i>
    </a>
    <a href="https://paypal.me/gdmodengine" target="_blank" aria-label="Paypal">
      <i class="fab fa-paypal"></i>
    </a>
    <a href="https://patreon.com/gdmodengine" target="_blank" aria-label="Patreon">
      <i class="fab fa-patreon"></i>
    </a>
    <a href="https://github.com/sponsors/gdmodengine" target="_blank" aria-label="Sponsor">
      <i class="fas fa-heart"></i>
    </a>
  </div>
  <p><a href="https://github.com/megalisp" target="_blank" rel="noopener">&copy; @megalisp 2025, Joshua Steven Grant (ie: Jost Grant)</a></p>
</footer>
