<section class="media-grid">
  <h2>Specta Possibilia</h2>
  <div class="media-items">
    <div class="media-item">
    <img src="/img/building.gif" alt="Exemplum Aedificandi">
    <span>Constructio Motoria</span>
    </div>
    <div class="media-item">
    <img src="/img/physics.gif" alt="Exemplum Physicae">
    <span>Physica Vera</span>
    </div>
    <div class="media-item">
    <img src="/img/scripting.gif" alt="Exemplum Scripturae">
    <span>Scriptura Viva</span>
    </div>
    <div class="media-item">
    <img src="/img/community.gif" alt="Exemplum Communitatis">
    <span>Ludus Collaborativus</span>
    </div>
  </div>
</section>